@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital,wght@0,400..700;1,400..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mea+Culpa&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url("https://use.typekit.net/kiz3rou.css");

:root {
  --font-heading: "Spectral", serif;
  --font-subheading: "inter-variable", sans-serif;
  --font-body: "binter-variable", sans-serif;
}

/* === FONT === */

p {
  font-family: var(--font-body);
  font-weight: 400;
  line-height: 2;
  color: var(--gray-800);
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-style: normal;
}

h1 {
  font-family: "Mea Culpa", cursive;
  font-style: italic;
  font-weight: 400;
  line-height: 1.2;
  color: #af781e;
  margin-bottom: 1rem;
  font-size: 6rem;
  margin-top: 1rem;
}

h1.subpage {
    font-size: 3rem; 
    color: #FAF3E1;
}

h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  font-weight: 700;
  line-height: 1.2;
  color: #FAF3E1;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/* === FONT FADE === */

.fade-text {
    opacity: 0;
    animation: fadeInOut 15s ease-in-out;
    font-size: 24px;
    text-align: center;
    padding: 50px 40px 0;
    max-width: 1300px;
    margin: 0 auto;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* === BACKGROUND === */

.cursor-page {
    cursor: url('images/hand-cursor-32.png') 32 32, auto !important;
}

body {
  background-color: #1C1C1C;
  color: #FAF3E1;
  margin: 0;
  overflow: hidden;
}

.center {
  margin: 0 auto;
  padding: 40px 40px;
  height: auto;
  text-align: left; 
  max-width: 800px;
  justify-content: center; /* Centers vertically */
  align-items: center; /* Centers horizontally */
}

/* === BASE STYLE === */

#splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 100;
}

#main-content {
    padding: 20px;
    position: relative;
    min-height: 100vh;
}

.hidden {
    display: none !important;
}

.container {
    /* Important: The sticky element is constrained by its parent container's height */
    height: 500px; /* Example height to demonstrate scrolling within container */
    overflow: auto; /* Adds scrollbar to container to see effect */
    position: relative;
}

.sticky-wrapper {
    /* The wrapper defines the area the button can stick within */
    padding: 10px;
}

.sticky-btn {
    position: sticky;
    top: 0; /* Sticks to 0px from the top of the container when scrolled */
    /* Add desired styling */
    padding: 10px 20px;
    background-color: #363736;
    color: white;
    border: none;
    border-radius: 5px;
}


/* === IMAGE STYLE === */

.image-style {
    width: 100%;
    height: auto; 
    filter: grayscale(100%) contrast(150%) brightness(75%);
    transition: filter 0.3s ease;
}

.image-style__resized2 {
   width: 100%;
   height: auto; 
   filter: grayscale(100%) contrast(150%) brightness(75%); 
}

/* Glow effect on hover */
.drop-shadow-glow:hover {
    filter: drop-shadow(2px 10px 9px rgba(211,175,55, 1)); 
}

/* Image scaling */
a .thumbnail {
  transition: transform 0.3s ease;
}

.blurry-image {
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

/* === IMAGE POSITIONING === */
.scattered-image {
    position: absolute;
    transition: transform 0.3s ease;
    max-width: 400px;
    height: auto;
}

.img1 {top: 5%; left: 10%; transform: rotate(10deg);}

.img2 {top: 15%; right: 5%; transform: rotate(-15deg);}

.img3 {bottom: 8%; left: 40%; transform: rotate(5deg);}

.img4 {top: 30%; right: 60%; transform: rotate(-5deg);}

.img5 {top: 50%; right: 50%; transform: rotate(-51deg);}

.img6 {bottom: 20%; left: 60%; transform: rotate(20deg);}

.img7 {bottom: 10%; right: 10%; transform: rotate(-5deg);}

.img8 {bottom: 10%; left: 40%; transform: rotate(-5deg);}

.img9 {top: 10%; left: 30%; transform: rotate(-5deg);}

.img10 {bottom: 2%; right: 1%; transform: rotate(-25deg);}

.img11 {bottom: 2%; left: 0.2%; max-width: min(300px, 30vw); transform: rotate(-70deg);}

.img12 {bottom: 1%; left: 0.5%; max-width: min(200px, 20vw); transform: rotate(-30deg); z-index: 0;}

/* === IMAGE CHANGE === */

.noFilter {
  filter: none !important;
}

/* === EASTER EGG === */

#genie-trigger {
  display: none;
}

.genie-lamp {
  cursor: url('images/hand-cursor-32.png') 32 32, auto !important;
}

/* Turn all images blue when genie is clicked */
#genie-trigger:checked ~ a img {
  filter: hue-rotate(180deg) saturate(200%) !important;
}

/* Also turn the lamp itself blue */
#genie-trigger:checked ~ label img {
  filter: hue-rotate(180deg) saturate(200%) !important;
}

/* === BUTTON === */
.button {
  background-color: #FAF3E1;
  color: #333;
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
  padding: 2px 10px 2px 10px;
  cursor: url('images/hand-cursor-32.png') 32 32, auto !important;
  transition: background-color 0.3s ease;
}


/* === RESPONSIVE DESIGN === */

/* === DESKTOP HOVER EFFECTS === */
@media (hover: hover) {
    .img1:hover {transform: rotate(-10deg) scale(1.5); z-index: 10;}
    .img2:hover {transform: rotate(15deg) scale(1.5); z-index: 10;}
    .img3:hover {transform: rotate(-5deg) scale(1.5); z-index: 10;}
    .img4:hover {transform: rotate(5deg) scale(1.5); z-index: 10;}
    .img5:hover {transform: rotate(51deg) scale(1.5); z-index: 10;}
    .img6:hover {transform: rotate(-20deg) scale(1.5); z-index: 10;}
    .img7:hover {transform: rotate(5deg) scale(1.5); z-index: 10;}
    .img8:hover {transform: rotate(5deg) scale(1.2); z-index: 10;}
    .img9:hover {transform: rotate(5deg) scale(1.5); z-index: 10;}
    .img10:hover {transform: rotate(25deg) scale(1.5); z-index: 10;}
    .img11:hover {transform: rotate(-60deg) scale(1.2); z-index: 10;}
    .img12:hover {transform: rotate(0deg) scale(0.8); z-index: 0;}
}

/* === MOBILE STACKING (MAX-WIDTH 768PX) === */
@media (max-width: 768px) {
    body {
        overflow-y: auto; /* Enable scrolling for the stack */
        overflow-x: hidden;
        margin: 30px 30px 30px 30px;
         height: 100dvh;
    }

    h1 {
        font-size: 3rem; /* Scale down heading */
    }
    
    h1.subpage {
        content: fit-content;
        color: #FAF3E1;
    }

    p {
        font-size: 1rem; /* Smaller font size */
        line-height: 1.6; /* Tighter line spacing */
        padding: 0 20px; /* Add padding so text doesn't touch edges */
    }



    #main-content {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr, 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        align-items: center;
        padding: 0px 0px;
        min-height: auto;
    }

    .scattered-image {
        position: relative !important; /* Forces them into a stack */
        max-width: 110% !important;
    }

        .img1 {top: 0%;left: 0%; transform: rotate(-10deg); z-index: 1;}

        .img2 {top: 0%;left: 0%; transform: rotate(-15deg); z-index: 10;}

        .img3 {top: 0%;left: 0%; transform: rotate(5deg); z-index: 10;}

        .img4 {top: 0%; left: 0%; transform: rotate(-5deg); z-index: 1;}

        .img5 {top: 10%; bottom: 10%; left: 0.3%; transform: rotate(-51deg); z-index: 1;}

        .img6 {top: 0%;bottom: 0%; left: 0.3%; transform: rotate(20deg);}

        .img7 {top: 0%;bottom: 0%; left: 0.3%; transform: rotate(-5deg);}

        .img8 {top: 0%;bottom: 0%; left: 0.3%; transform: rotate(-5deg);}

        .img9 {top: 0%;bottom: 0%; left: 0.3%; transform: rotate(-5deg);}

        .img10 {top: 0%;bottom: 2%; left: 0.3%; transform: rotate(-25deg);}

        .img11 {top: 0%;bottom: 2%; left: 0.3%; transform: rotate(60deg);}

        .img12 {top: 0%;bottom: 1%; left: 0.3%; transform: rotate(0deg); z-index: 0;}
    

    
    .genie-lamp {
        padding-bottom: 40px;
    }

        .center {
        max-width: 90%; /* Takes up 90% of screen width */
        padding: 20px;
    }
}

